.dashboardPage {
  display: flex;
  min-height: 100vh;
  background: #0f172a;
  color: white;
  transition: 0.3s;
}

.lightMode {
  background: #f1f5f9;
  color: black;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar p {
  cursor: pointer;
  font-size: 18px;
}

.dashboardMain {
  flex: 1;
  padding: 40px;
}

.welcome {
  margin-bottom: 20px;
}

.createBtn {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.searchFilterBox {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchInput {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 250px;
}

.filterSelect {
  padding: 12px;
  border-radius: 10px;
  border: none;
}

.stats {
  margin-top: 20px;
}

.statCard {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
}

.taskSection {
  margin-top: 30px;
}

.themeToggleBtn {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}